.main-chat
  .main-chat__group-info
    .group-sammary
      .group-sammary__name
        TECH CAMP
      .group-sammary__member
        Member：Naoki
    .group-edit
      Edit
  .main-chat__message-list
    .message-box
      .message-box__contributor
        Naoki
      .message-box__time
        2020/03/03(Tue) 16:29:59
    .message-content
      Create Chatspace!
  .main-chat__message-form
    .form-box
      %input{type: "text",class: "form-box__text", placeholder: "type a message"}
      %label{class: "form-box__icon"}
        = icon('far', 'image')
        %input{type: "file", class: "form-box__icon_file", style: "display:none"}
    %input{type: "submit", class: "form-send", value: "Send"}

      -# style: "display:none;"